:root {
  font-family: 'Inter';
  --text-dark: #403F3D;
  --text-light: #E1D4C9;
  --text-accent: #B0907A;
  --bg-body: #E1D4C9;
  --bg-container: #665F55;
  --bg-backdrop: #403F3DCC;
  --border-light: #C1B6AD;
  --border-dark: #665F55;
}

body {
  margin: 0 auto;
  width: 1440px;
  background: var(--bg-body);
  border: 2px solid blue;
}

ul {
  list-style-type: none;
}

header li {
  /* list-style-type: none; */
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  margin: 0 auto;
  border: red 1px solid;
  max-width: 1360px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  align-items: flex-end;
}

.logo {
  width: 100px;
  height: 60px;
  border: green 1px solid;
}

.slider {

}
.arrow_wrap {
  background: url(assets/slider/arrow-left.svg) center no-repeat;
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
}

.right_arrow {
  transform: rotate(180deg);
}

.slider_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_wrap {
  display: flex;
}

.first_column {
  display: flex;
  flex-direction: column;
}

.second_column {
  display: flex;
  flex-direction: column;
}

.buttons_wrap {
}

.footer_icons_wrap {
}

.footer_ico {
}