:root {
  --text-dark: #403F3D;
  --text-light: #E1D4C9;
  --text-accent: #B0907A;
  --bg-body: #E1D4C9;
  --bg-container: #665F55;
  --bg-backdrop: #403F3DCC;
  --border-light: #C1B6AD;
  --border-dark: #665F55;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 1440px;
  background: var(--bg-body);
  border: 2px solid blue;
  font-family: 'Inter', sans-serif;
  color: var(--text-dark);
}

ul {
  list-style-type: none;
}

header li {
  /* list-style-type: none; */
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding-bottom: 100px;
}

button {
  cursor: pointer;
}

.wrap {
  margin: 0 auto;
  border: red 1px solid;
  max-width: 1360px;
}

/* header start */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  gap: 8px;
}

.logo {
  width: 100px;
  height: 60px;
  /* border: green 1px solid; */
}

.main-menu {
  display: flex;
  padding: 0;
  gap: 40px;
}

/* header end */

/* Typography */

.heading-1 {
  margin: 0;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}


.heading-1_color {
  color: var(--text-light);
}

.heading-2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.heading-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.heading-accent {
  font-style: italic;
  color: var(--text-accent);
}

.font-medium {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.font-medium_light {
  color: var(--text-light);
}

.text-description {
  font-weight: 400;
}

/* end typoghraphy */

/* enjoy start */

.enjoy {
  /* max-width: 1360px; */
  /* height: auto; */
  background-image: url(assets/enjoy/img-hero.jpg);
  /* background-size: contain; */
  border-radius: 40px;
  padding: 100px;
}

.enjoy__content {
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.btn-menu {
  width: 200px;
  height: 60px;
  background: var(--bg-body);
  border: none;
  border-radius: 100px;
}

/* enjoy end */

/* slider */

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 40px; */
}

.slider__inner {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow_wrap {
  background: url(assets/slider/arrow-left.svg) center no-repeat;
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  cursor: pointer;
}

.right_arrow {
  transform: rotate(180deg);
}

.slider_card {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.control {
  width: 40px;
  height: 4px;
  border: var(--border-light) 1px solid;
  border-radius: 100px;
  cursor: pointer;
}

.control_active {
  border: var(--border-dark);
  background-color: var(--border-dark);
}

/* slider end */

/* about start */

.about {
  gap: 40px;
}

.about_wrap {
  display: flex;
  gap: 40px;
}

.about_img {
  border-radius: 20px;
  width: 660px;
  /* background-size: cover; */
  background-position: center;
}

.about_img__large {
  height: 726px;
}

.about_img__small {
  height: 426px;
}

.about-1 {
  background-image: url(assets/about/about-1.jpg);
}

.about-2 {
  background-image: url(assets/about/about-2.jpg);
}

.about-3 {
  background-image: url(assets/about/about-3.jpg);
}

.about-4 {
  background-image: url(assets/about/about-4.jpg);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* app start*/

.app_column {
  margin-top: 60px;
  margin-bottom: 60px;
}

.app-content {
  margin: auto 0;
  width: 630px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.buttons_wrap {

}

/* app end */

/*footer start*/

.footer_icons_wrap {
}

.footer-ico {
  width: 60px;
  height: 60px;
  background-size: cover;
}

.footer-ico_twit {
  background-image: url(assets/footer/twitter.svg);
}

.footer-ico_inst {
  background-image: url(assets/footer/instagram.svg);
}

.footer-ico_fb {
  background-image: url(assets/footer/facebook.svg);
}

.footer__bg {
  background: var(--bg-container);
  border-radius: 40px;
}

/*footer end*/